/* COLORS

Light green: #bee9d5
Light lavender: #c6daf1
Light blue: #a1caf1
Cream white: #fffff0
Light yellow: #f7ebb9
Coral: #fbd6d1

*/


body {
	margin-top: 70px; /* For navbar */
}

/* General classes */
.paddingRight15px {
	padding-right: 15px;
}

.paddingRight0 {
	padding-right: 0;
}

/* Specific classes */
.dashboard {
	background-color: tomato;
	width: 75%;
	margin: 0 auto;
	border: 3px solid black;
}
.newWishForm {
	margin:0 auto;
	width: 75%;
	padding: 8px;
	border: 4px dotted lightsteelblue;
}

.listItemForm {
	margin-top: 15px;
	border: 1px solid black;
}
.linkToSend {
	padding: 8px;
}
.linkToSend a {
	text-decoration:none;
}
.loginForm {
	
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}
.guestListView td, th {
	border: 1px solid black;
	padding: 8px;
}
td {
	width: 250px;
}
.doneList {
	text-decoration: line-through;
}


/* ---------- Style for paymentForm ---------- */
.priceField {	
	font-family: Merriweather sans;
	border-radius: 10px; 
	padding: 10px;
	color: #f0f0f0;
	margin-top: 15px;
}
.priceField button {
	margin-bottom: 15px;
}
@media all and (min-width: 990px) {
	.priceField {
		width: 110%;
		min-height: 300px;
		margin-top: 50px;
		margin-bottom: 100px;
	}
	.priceField p {
		min-height: 100px;
		max-height: 200px;
	}
	.priceField button {
		margin-top: 10px;
	}
}
.priceField h4 {
	font-family: Merriweather;
	font-size: 2.0em;
	font-weight: 800;
	letter-spacing: 0.05em;
	height: 70px;
	text-shadow: 0px 3px 1px rgba(0,0,0,.1);
}
.priceField h1 {
	font-family: Merriweather;
	font-size: 4.0em;
	font-weight: 800;
	text-shadow: 0px 3px 1px rgba(0,0,0,.1);
}
#plan_pro{
	background-color: #bee9d5;
}
#plan_2 {
	background-color: #fbd6d1; 
}
#plan_3 {
	background-color: #fbd6d1;
}
#plan_4 {
	background-color: #fbd6d1;
}

#listName{
	font-size: 30px;
	font-color:pink;
    padding: 5px;
    border: 0px;

    width: 300px;
    border-radius: 4px;
    text-align: right;

}

#listName::-webkit-input-placeholder  {
  color: black;

}

.listName {
	font-size: 30px;
}

.btnInvisible{
	display: none;
}
/* ---------- Style for footer ---------- */
.footer {
	border-top: 1px solid #e7e7e7;
	padding-top: 10px;
	margin-top: 25px;
}

/* ---------- Style for listItemForm ---------- */
.altBgColor:nth-of-type(odd) {
    background: #808080 ;
}
.listItem{
background: #A2A6AB ;
margin-bottom: 10px;
border: 2px solid darkgrey;
border-radius: 6px;
box-shadow: 5px 5px 5px lightgrey;
}

/* ---------- Style for pageNav ---------- */
.navbar-nav {}

/* For small-screens / col-xs-12 */
@media (max-width: 767px) {
	.dropdown-menu>li>form {
	    padding: 3px 20px;
	    margin: 8px 0;
	    border: none;
	}

	.nav>li>button {
	    position: relative;
	    display: block;
	    padding: 10px 15px;
	}

	/* Reset classes */
	.navbar-default .navbar-form {
	    border: none;
	}

	.navbar-nav {
		margin: 0;
	}

}