/* COLORS

Light green: #bee9d5
Light lavender: #c6daf1 
Light blue: #a1caf1 / rgba(161,202,241,1)
Cream white: #fffff0 / rgba(255,255,240,1)
Light yellow: #f7ebb9
Coral: #fbd6d1

*/


body {
	margin-top: 70px; /* For navbar */
	background-color: #bee9d5;
}

*:focus {
    outline: 0;
}

/* Typography */

p, input, textarea, button {
	font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, san-serif;
}
h1, h2, h3, h4{
	font-family: 'Merriweather', serif;
}

/* General classes */
.width100 {
	width: 100%;
}
.paddingRight15px {
	padding-right: 15px;
}

.paddingRight0 {
	padding-right: 0;
}
.cursorPointer{
	cursor: pointer;
}
.button{
	background-color: #a1caf1;
	border: none;
	color: #fffff0;
	text-shadow: 0 1px 1px rgba(0,0,0,.1)
}

input.clearForm,input.clearForm:focus {
	background-color: transparent;
	border:none;
  	border-left: solid 2px;
  	border-bottom: solid 2px;
  	border-color: #a1caf1;
  	box-shadow: none;
  	border-radius: 0px;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	-moz-transition: none;
  	-webkit-transition: none;
}


/* Specific classes */

.button {
	background-color: #a1caf1;
	color: #fffff0;
	border: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.1;);
}

.button:hover, .button:active {
	background-color: rgba(161,202,241,0.6);
	color: #fffff0;
}

.btnInvisible{
	display: none;
}

.input {
	background-color: #fffff0;
	color: #a1caf1;
	border: none;
	border-bottom: 4px solid #a1caf1;
	border-radius: 3px 3px 0 0;
}

.input::-webkit-input-placeholder {
	color: #a1caf1; 
}

.input:-moz-placeholder { 
	color: #a1caf1; 
}

.input::-moz-placeholder { 
	color: #a1caf1; 
}

.input:-ms-input-placeholder { 
	color: #a1caf1; 
}

.inputNumber {
	border-left: 4px solid #a1caf1;
	border-radius: 0 3px 0 0;
}

.textBox {

}

.dashboard {
	background-color: tomato;
	width: 75%;
	margin: 0 auto;
	border: 3px solid black;
}

.listItemForm {
	margin-top: 15px;
	border: 1px solid black;
}
.linkToSend {
	padding: 8px;
}
.linkToSend a {
	text-decoration:none;
}
.loginForm {
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}
.guestListView td, th {
	border: 1px solid black;
	padding: 8px;
}
td {
	width: 250px;
}
.doneList {
	text-decoration: line-through;
}
h2 > .fa{
	font-size: 0.5em;
	vertical-align: middle;
}
h2 {
	margin-top: 15px;
	margin-bottom: 15px;
}
/* ---------- Style for newWishForm ---------- */
.newWishForm {
	padding-top: 10	0px;
}

.newWishForm button {

}

.newWishForm .col-xs-12 , 
.newWishForm .col-xs-6 {
	margin-bottom: 25px;
}

.wishNameInput {
	height: auto;
	min-height: 90px;
	line-height: normal;
	font-family: 'Merriweather', 'Georgia', serif;
	font-size: 1.6em;
}

.wishNameInputIcon {
	padding-right: 25px;
	background-color: #fffff0;
	color: #a1caf1;
	border: none;
	border-bottom: 4px solid #a1caf1;
	border-radius: 3px 3px 0 0;
	font-size: 1.1em;
}

.wishNameInput::-webkit-input-placeholder {
	color: #a1caf1; 
	text-align: center;
}

.wishNameInput:-moz-placeholder { 
	color: #a1caf1; 
	text-align: center;
}

.wishNameInput::-moz-placeholder { 
	color: #a1caf1; 
	text-align: center;
}

.wishNameInput:-ms-input-placeholder { 
	color: #a1caf1; 
	text-align: center;
}

.wishCatDropdownBtn {
	
}

.submitButton {
	width: 100%;
}

.button:hover, .button:active {
	background-color: rgba(161,202,241,0.8);
	color: #fffff0;
}
/********************************************
---------- Style for GuestListForm ----------
*********************************************/

.wishHeader{
	background-color: #fffff0; 
	color: #a1caf1;
}
.wishCollapseBody{
	background-color: #fffff0; 
	margin-bottom: 15px;
	color: #a1caf1;
	border-bottom: 4px solid #a1caf1;
}
.wishCollapseBody form{
	margin-top:10px;
	margin-bottom:10px;
}
.buttonDibs{
	background-color: transparent;
	color: #a1caf1;
	box-shadow: none;
	border: none;
  	border-bottom: solid 2px;
  	border-color: #a1caf1;
  	border-radius: 0px;
  	box-shadow: none;
  	border-radius: 0px;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	-moz-transition: none;
  	-webkit-transition: none;
}
.coverup{
	color: transparent;
}
.buttonDibs:hover{
	background: transparent;
}
/* ---------- Style end GuestListForm ---------- */

/* ---------- Style for paymentForm ---------- */

.priceField {	
	font-weight: 300;
	border-radius: 10px; 
	padding: 10px;
	color: #FFFFFF;
	margin-top: 15px;
}
@media all and (min-width: 990px) {
	.priceField {
		width: 110%;
		min-height: 300px;
		margin-top: 50px;
		margin-bottom: 100px;
	}
	.priceField p {
		min-height: 100px;
		max-height: 200px;
	}
	.priceField button {
		margin-top: 10px;
	}
}
.priceField h4 {
	font-family: Merriweather;
	font-size: 2.0em;
	font-weight: 800;
	letter-spacing: 0.05em;
	height: 70px;
	text-shadow: 0px 2px 1px rgba(0,0,0,.1);
}
.priceField h1 {
	font-family: Merriweather;
	font-size: 4.0em;
	font-weight: 800;
	text-shadow: 0px 3px 1px rgba(0,0,0,.1);
}
.priceField button {
	margin-bottom: 15px;
}
.priceFieldDetails ul{
	font-family: Merriweather sans;
	font-weight: 300;
	font-size: 0.8em;
	text-align: center;
}
.priceFieldDetails li{
	text-align: center;
}
#plan_pro{
	background-color: #fbd6d1;
}
#plan_pro button{
	background-color: #e1c0bc
}
#plan_2 {
	background-color: #c6daf1; 
}
#plan_3 {
	background-color: #c6daf1;
}
#plan_4 {
	background-color: #c6daf1;
}

/* ---------- Style for listName ---------- */
.listNameContainer {
	min-height: 100px;
	padding: 15px 30px;
}

.listName {
	padding: 15px;
	border: 4px solid #fffff0;
}

.listName p, .listName input{
	color: #fffff0;
	font-family: 'Merriweather', serif;
	font-size: 30px;
	text-transform: uppercase;;
}


.listNameEdit {
}

.listNameEdit>input {
	background-color: #bee9d5;
	text-align: right;
	border: none;
}

.listNameEditlistName::-webkit-input-placeholder {
	color: #fffff0;
}

.listNameText {

}
/* ---------- Style for footer ---------- */
.footer {
	border-top: 1px solid #e7e7e7;
	padding-top: 10px;
	margin-top: 25px;
}

/* ---------- Style for listItemForm ---------- */
.altBgColor:nth-of-type(odd) {
	width: 100vw;
    background-color: rgba(255,255,240,0.5);
}

.listItem {
	padding: 15px 0;
}

/* ---------- Style for pageNav ---------- */
.navbar-nav {}

/* For small-screens / col-xs-12 */
@media (max-width: 767px) {
	.dropdown-menu>li>form {
	    padding: 3px 20px;
	    margin: 8px 0;
	    border: none;
	}

	.nav>li>button {
	    position: relative;
	    display: block;
	    padding: 10px 15px;
	}

	/* Reset classes */
	.navbar-default .navbar-form {
	    border: none;
	}

	.navbar-nav {
		margin: 0;
	}

}