body {
	margin-top: 70px; /* For navbar */
}

/* General classes */
.paddingRight15px {
	padding-right: 15px;
}

.paddingRight0 {
	padding-right: 0;
}

/* Specific classes */
.dashboard {
	background-color: tomato;
	width: 75%;
	margin: 0 auto;
	border: 3px solid black;
}
.newWishForm {
	margin:0 auto;
	width: 75%;
	padding: 8px;
	border: 4px dotted lightsteelblue;
}
.listName {
	text-align: center;
}
.listItemForm {
	margin-top: 15px;
	border: 1px solid black;
}
.linkToSend {
	padding: 8px;
}
.linkToSend a {
	text-decoration:none;
}
.loginForm {
	
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}
.guestListView td, th {
	border: 1px solid black;
	padding: 8px;
}
td {
	width: 250px;
}
.doneList {
	text-decoration: line-through;
}


.navbar-nav {}

/* For small-screens / col-xs-12 */
@media (max-width: 767px) {
	.dropdown-menu>li>form {
	    padding: 3px 20px;
	    margin: 8px 0;
	    border: none;
	}

	.nav>li>button {
	    position: relative;
	    display: block;
	    padding: 10px 15px;
	}

	/* Reset classes */
	.navbar-default .navbar-form {
	    border: none;
	}

	.navbar-nav {
		margin: 0;
	}

}
