<div class="row">
	<div class="col-xs-12 col-md-3">

		<div class="createUserForm">
			<h3>Registrera ny användare:</h3>
			<form action='?/User/createUser' method='post'>
				E-mail<br>
				<input type='text' name='email'><br>
				Lösenord<br>
				<input type='password' name='password'><br>
				Förnamn<br>
				<input type='text' name='firstname'><br>
				Efternamn<br>
				<input type='text' name='lastname'><br>
				<input type='submit' value='Skapa användare'>
			</form>
		</div>

	</div>
</div>