<!--<div class="row">

			<div class="col-xs-12 col-md-10 col-md-offset-1 dashboard">
				<h1>Dashboard</h1>
				<p>Hej admin!</p>
				Det finns <strong>{{dashboard.0.lists}}</strong>st listor.<br>
				Det finns <strong>{{dashboard.1.users}}</strong>st användare.<br>
				<strong>{{dashboard.2.customers}}</strong>st nöjda betalande kunder.
			</div>
</div>
-->
<div class="row">
	<div class="col-xs-12">

	<h1 class="text-center">Admin Dashboard</h1>

		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<p>There are <span class="textImportant">{{dashboard.0.lists}}</span> lists in the database</p>
				<!--div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{dashboard.0.lists}}" aria-valuemin="0" aria-valuemax="100" style="width:{{dashboard.0.lists}}%">{{dashboard.0.lists}}
					   	<span class="sr-only">{{dashboard.0.lists}} Number of lists (success)</span>
					</div-->
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<p>There are <span class="textImportant">{{dashboard.1.users}}</span> users in the database</p>
				<!--div class="progress">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{dashboard.1.users}}" aria-valuemin="0" aria-valuemax="100" style="width: {{dashboard.1.users}}%">{{dashboard.1.users}}
					   	<span class="sr-only">{{dashboard.1.users}} users (success)</span>
					</div>
				</div-->
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<p>There are <span class="textImportant">{{dashboard.2.customers}}</span> paying customers in the database</p>
				<!--div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{dashboard.2.customers}}" aria-valuemin="0" aria-valuemax="100" style="width: {{dashboard.2.customers}}%">{{dashboard.2.customers}}
					   	<span class="sr-only">{{dashboard.2.customers}} paying customers (success)</span>
					</div-->
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<p>Amount of customers paying for function 1 </p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{dashboard.2.customers}}" aria-valuemin="0" aria-valuemax="100" style="width:{{dashboard.permissions[0].number_of_permissions / dashboard.2.customers * 100}}%">{{dashboard.permissions[0].number_of_permissions / dashboard.2.customers * 100}}%
					   	<span class="sr-only">{{dashboard.2.customers}} paying customers (success)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<p>Amount of customers paying for function 2 </p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{dashboard.2.customers}}" aria-valuemin="0" aria-valuemax="100" style="width:{{dashboard.permissions[1].number_of_permissions / dashboard.2.customers * 100}}%">{{dashboard.permissions[1].number_of_permissions / dashboard.2.customers * 100}}%
					   	<span class="sr-only">{{dashboard.2.customers}} paying customers (success)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<p>Amount of customers paying for function 3 </p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{dashboard.2.customers}}" aria-valuemin="0" aria-valuemax="100" style="width:{{dashboard.permissions[2].number_of_permissions / dashboard.2.customers * 100}}%">{{dashboard.permissions[2].number_of_permissions / dashboard.2.customers * 100}}%
					   	<span class="sr-only">{{dashboard.2.customers}} paying customers (success)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<p>Amount of customers paying <span class="textImportant">function 4</span> </p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{dashboard.2.customers}}" aria-valuemin="0" aria-valuemax="100" style="width:{{dashboard.permissions[3].number_of_permissions / dashboard.2.customers * 100}}%">{{dashboard.permissions[3].number_of_permissions / dashboard.2.customers * 100}}%
					   	<span class="sr-only">{{dashboard.2.customers}} paying customers (success)</span>
					</div>
				</div>
			</div>
		</div>
		<!--div class="progress">
			<div class="progress-bar progress-bar-success" style="width:{{dashboard.permissions[0].number_of_permissions / dashboard.2.customers * 100}}%">
    			<span class="sr-only">35% Complete (success)</span>
  			</div>
  			<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{dashboard.permissions[1].number_of_permissions / dashboard.2.customers * 100}}%">
   				<span class="sr-only">20% Complete (warning)</span>
  			</div>
 			<div class="progress-bar progress-bar-danger" style="width: {{dashboard.permissions[2].number_of_permissions / dashboard.2.customers * 100}}%">
   				<span class="sr-only">10% Complete (danger)</span>
 			</div>
 			<div class="progress-bar progress-bar-info" style="width: {{ dashboard.permissions[3].number_of_permissions / dashboard.2.customers * 100}}%">
   				<span class="sr-only">35% Complete (danger)</span>
 			</div>
		</div>
		<div class="progress-bar progress-bar-success" style="width:{{dashboard.permissions[0].number_of_permissions / dashboard.2.customers * 100}}%">
    			<span class="sr-only">35% Complete (success)</span>
  			</div>
  			<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{dashboard.permissions[1].number_of_permissions / dashboard.2.customers * 100}}%">
   				<span class="sr-only">20% Complete (warning)</span>
  			</div-->

		

		{% for permission in dashboard.permissions %}
			<p>{{permission.permission}} funktionen har {{permission.number_of_permissions}} betalande kunder<p>
		{% endfor %}
	</div><!--col-->
</div><!--row-->