
<div class="row">
	<div class="col-xs-12">

	<h1 class="text-center">Admin Dashboard</h1>

		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4 dashForm">
				<h3>Create new category</h3>

				<form action="?/Admin/createNewCategory" method="post">
					<input type="text" name="newCategory" placeolder="New category name..">
					<input type="submit" value="Create!">
				</form>
				
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4 dashboard">
				<p>There are <span class="textImportant">{{lists.lists}}</span> lists in the database</p>
				<p>There are <span class="textImportant">{{users.users}}</span> users in the database</p>
				<p>There are <span class="textImportant">{{customers.customers}}</span> paying customers in the database</p>
			</div>
		</div>
	

		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4 dashboard">
				<p>Amount of customers paying for <span class="textImportant">function 1</span> </p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" style="width:{{permissions[0].number_of_permissions / customers.customers * 100}}%">{{permissions[0].number_of_permissions / customers.customers * 100 }}%
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4 dashboard">
				<p>Amount of customers paying for <span class="textImportant">function 2</span> </p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" style="width:{{permissions[1].number_of_permissions / customers.customers * 100}}%">{{permissions[1].number_of_permissions / customers.customers * 100}}%
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4 dashboard">
				<p>Amount of customers paying for <span class="textImportant">function 3</span> </p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" style="width:{{permissions[2].number_of_permissions / customers.customers * 100}}%">{{permissions[2].number_of_permissions / customers.customers * 100}}%
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4 dashboard">
				<p>Amount of customers paying for <span class="textImportant">function 4</span> </p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" style="width:{{permissions[3].number_of_permissions / customers.customers * 100}}%">{{permissions[3].number_of_permissions / customers.customers * 100}}%
					</div>
				</div>
			</div>
		</div>
	</div><!--col-->
</div><!--row-->