<div class="row">
	<div class="col-md-offset-2 col-md-8 userSettings">
		<form action='?/wishList/changeListName/{{_session.uniqueUrl}}' method='post'>
			<div class="col-xs-8 col-xs-offset-2" >
				<div class="listNameContainer">
					<div class="listName">
						<div class="listNameEdit">
							<input type="text" class="" required placeholder="{{listNames[0].listName}}" value="{{listNames[0].listName}}"name="newListName" >
							<button type='submit' class="button">Change name</button>
						</div>
					</div>
				</div>
			</div>	
		</form>
	</div>
</div>