<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Done list:</h1>
	</div>
	{% for guestListItem in guestListItems %}
		{% if guestListItem.checked_by != NULL %}

			<div class="col-xs-12 col-sm-offset-2 col-sm-8 wishHeader" data-toggle="collapse" data-target="#wish{{guestListItem.itemId}}">
				<h2><i class="fa fa-chevron-down"> </i> <del>{{guestListItem.wish}}</del> </h2>
			</div>

			<div class="col-xs-12 col-sm-offset-2 col-sm-8 wishCollapseBody">
				<div id="wish{{guestListItem.itemId}}" class="collapse">
					<div class="row">
						<div class="col-xs-10 col-sm-6">
							<form action='?/User/unDoneItem/{{guestListItem.uniqueUrl}}' method='post'>
								<div class="input-group">
									<label>This wish is claimed by: </label> 
										{{guestListItem.checked_by}}
										<button class="btn btn-xs btn-default buttonForm" type="submit" name="itemId" value="{{guestListItem.itemId}}"><i class="fa fa-times-circle"></i></button>
									</h5>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>