<div class="col-xs-10 col-sm-6 col-sm-offset-1">
	<form action='?/wish/itemDone/{{guestListItem.uniqueUrl}}' method='post'>
		<p>Remember to call dibs!</p>
		<div class="input-group">
			<input class="form-control formDibs" required type="text" name="checkedBy" placeholder="Enter your name to claim this wish" autocomplete="off"> 
			<span class="input-group-btn">
				<button class="btn btn-default clearForm buttonDibs" type="submit" name="itemId" value="{{guestListItem.itemId}}"> <i class="fa fa-check-circle"></i></button>
			</span>
		</div>
	</form>
</div>