{% for listName in listNames %}
	<h1>{{listName.listName}}</h1>
{% endfor %}

<h2>Wish List:</h2>
<table class="guestListView">
	<tr>
		<th>Önskan</th>
		<th>Beskrivning</th>
		<th>Kategori</th>
	</tr>
	{% for guestListItem in guestListItems %}
		{% if guestListItem.isChecked == NULL %}
			<tr>
				<td>{{guestListItem.wish}}</td>
				<td>{{guestListItem.description}}</td>
				<td>{{guestListItem.categoryName}}</td>
				{% if guestListItem.role == 3 %}
				<td>
					<form  action='?/User/itemDone/{{guestListItem.listId}}' method='post'>
						<input type="submit" name="itemDone" value="Done"> 
						<input type="text" name="checked_by" placeholder="Done by.."> 
						<input type="hidden" name="itemId" value="{{guestListItem.itemId}}">
					</form>
				</td>
				{% endif %}
			</tr>			
		{% endif %}
	{% endfor %}
</table>

{% if guestListItems[0].role == 3 %}

<h2>Done list:</h2>
	<table class="guestListView doneList">
		{% for guestListItem in guestListItems %}
			{% if guestListItem.isChecked == 1 %}
				<tr>
					<td>{{guestListItem.wish}}</td>
					<td>{{guestListItem.checked_by}}</td>
					<!--td>{{guestListItem.description}}</td>
					<td>{{guestListItem.categoryName}}</td-->
					<td>
						<form action='?/User/unDoneItem/{{guestListItem.listId}}' method='post'>
							<input type="submit" name="itemUnDone" value="unDone"> 
							<input type="hidden" name="itemId" value="{{guestListItem.itemId}}">
						</form>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>

{% endif %}

<!--strong>Önskan: </strong><label>{{guestListItem.wish}}</label>
<strong>Beskrivning: </strong><label>{{guestListItem.description}}</label>
<strong>Kategori: </strong><label>{{guestListItem.categoryName}}</label>
<input type='checkbox' name="wishId" value=''-->