	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Done list:</h1>
		</div>

		{% for guestListItem in guestListItems %}
			{% if guestListItem.isChecked == 1 %}
				<div class="col-xs-12 col-md-offset-2 col-md-8 ">
					<h2><del>{{guestListItem.wish}}</del></h2>
				</div>

				<div class="col-xs-6 col-md-offset-2 col-md-8">
					<h3>
						<form action='?/User/unDoneItem/{{guestListItem.uniqueUrl}}' method='post'>
							{{guestListItem.checked_by}} 
							<button class="btn btn-default" type="submit" name="itemId" value="{{guestListItem.itemId}}"><i class="fa fa-times-circle"></i></button>
						</form>
					</h3>
				</div>
			{% endif %}
		{% endfor %}
	</div>