<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Black list:</h1>
	</div>
	{% for guestBlackListItem in guestBlackListItems %}
		<div class="col-xs-12 col-md-offset-2 col-md-8 " data-toggle="collapse" data-target="#wish{{guestListItem.itemId}}" >
			<h2>{{guestListItem.wish}}</h2>
		</div>
		<div class="col-xs-12">
			<div id="wish{{guestListItem.itemId}}" class="collapse">
				<div class="row">
					<div class="col-xs-12">
						<p>{{guestListItem.description}}</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>