<div class="row">
	<div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
		{% for listName in listNames %}
			<h1>{{listName.listName}}</h1>
		{% endfor %}
	</div>
</div>

<div class="row">

	<div class="col-xs-12 text-center">
				<h2>Wish List:</h2>
	</div>

	{% for guestListItem in guestListItems %}
			{% if guestListItem.isChecked == NULL %}
				
				<div class="col-xs-12" data-toggle="collapse" data-target="#wish{{guestListItem.itemId}}" >
					<h2>{{guestListItem.wish}}</h2>
				</div>

				<div class="col-xs-12">
					<div id="wish{{guestListItem.itemId}}" class="collapse">
						<div class="row">
							<div class="col-xs-12">
								<h3>Beskrivning:</h3>
								<p>{{guestListItem.description}}</p>
							</div>

							<div class="col-xs-6">
								<h3>Kategori:</h3>
								<p>{{guestListItem.categoryName}}</p>
							</div>		

							<div class="col-xs-6">
								<h3>Cost:</h3>
								<p>{{guestListItem.cost}}</p>
							</div>			

							{% if guestListItem.role == 3 %}
								<div class="col-xs-6">
									<form  action='?/User/itemDone/{{guestListItem.uniqueUrl}}' method='post'>
										<input type="submit" name="itemDone" value="Done"> 
										<input type="text" name="checked_by" placeholder="Done by.."> 
										<input type="hidden" name="itemId" value="{{guestListItem.itemId}}">
									</form>
								</div>
							{% endif %}
						</div>
					</div>
				</div>

			{% endif %}

	{% endfor %}

</div>

{% if guestListItems[0].role == 3 %}
<div class="row">
	<div class="col-xs-12 text-center">
		<h2>Done list:</h2>
	</div>

	{% for guestListItem in guestListItems %}
		{% if guestListItem.isChecked == 1 %}
			<div class="col-xs-12">
				<h2><del>{{guestListItem.wish}}</del></h2>
			</div>

			<div class="col-xs-6">
				<h3>{{guestListItem.checked_by}}</h3>
				<!--td>{{guestListItem.description}}</td>
				<td>{{guestListItem.categoryName}}</td-->
			</div>

			<div class="col-xs-6">
				<form action='?/User/unDoneItem/{{guestListItem.uniqueUrl}}' method='post'>
					<input type="submit" name="itemUnDone" value="unDone"> 
					<input type="hidden" name="itemId" value="{{guestListItem.itemId}}">
				</form>
			</div>
		{% endif %}
	{% endfor %}
</div>
{% endif %}

