<form  action='?/User/doneList/{{guestListItem.listId}}' method='post'>
	<tr>
		<td>{{guestListItem.wish}}</td>
		<td>{{guestListItem.description}}</td>
		<td>{{guestListItem.categoryName}}</td>
		
		{% if guestListItem.isChecked == NULL %}

			<td><input type="submit" name="itemDone" value="Done"> 
			
			<input type="text" name="name" placeholder="Done by.."> 

			<input type="hidden" name="itemId" value="{{guestListItem.itemId}}">
		{%endif%}
		</td>
	</tr>
</form>


<!--strong>Önskan: </strong><label>{{guestListItem.wish}}</label>
<strong>Beskrivning: </strong><label>{{guestListItem.description}}</label>
<strong>Kategori: </strong><label>{{guestListItem.categoryName}}</label>
<input type='checkbox' name="wishId" value=''-->