{% include "pageHeader.html" %}
{% include "triangleBg.html" %} 


<div class="container">

	<div class="row marginTop18vh">

		<div class="col-xs-12 col-sm-10 col-sm-offset-1 listHead text-center">

				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
						<div class="title pageTitle">{{listInfo[0].listName}}</div>
					</div>

					<div class="col-xs-12 listNames"> 
						<div class="row">
							<div class="col-xs-12 col-sm-5 text-right text-center-sm">
								<h3>{{listInfo[0].firstName}}</h3>
							</div>
							<div class=" col-sm-2 text-center">
								<span class="{{listInfo[0].listIcon}} listNamesIcon" aria-hidden="true"></span>
							</div>
							<div class="col-xs-12 col-sm-5 text-left text-center-sm">
								<h3>{{listInfo[0].secondName}}</h3>
							</div>
						</div>
					</div>

					<div class="aboutList">
						<div class="col-xs-10 col-xs-offset-1 text-center aboutListTitle" data-toggle="collapse" data-target="#info">
							<h3 class=""><i class="fa fa-chevron-down"></i> About this list:</h3>
						</div>
					
						<div id="info" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 collapse text-left aboutListContent">
							<p>Below you will find a wishlist that has been shared with you. You can click each item to expand it and find more information about that item. If your hosts has unlocked the function for reserving gifts, you can reserve an item from the list by puttning your name in the appropriate field attached to that item. </p>

							<p>Reserved items from the list will be shown in the Done list. If you wanna undo a reservation, simply remove your name form that item in the Done list</p>

							<p>If your hosts has items they don't want to recieve as gifts, you can view those items in the Blacklist.</p>
						</div>
					</div>
				</div>

		</div>
	</div>


	<div class="row">
	<!-- wish list: -->
		{% for guestListItem in guestListItems %}
			{% if guestListItem.checkedBy == NULL %}
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 wishHeader" data-toggle="collapse" data-target="#wish{{guestListItem.itemId}}">
					<h2><i class="fa fa-chevron-down"> </i> {{guestListItem.wish}} </h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 wishCollapseBody">
					<div id="wish{{guestListItem.itemId}}" class="collapse">
						<div class="row">
							{% if guestDoneForm %}
								{% include guestDoneForm %}
							{% endif %}
							<div class="col-xs-12 col-sm-10 col-sm-offset-1">
								<label><p>Description:</p></label> 
								<p>{{guestListItem.description}}</p>
							</div>
							<div class="col-xs-6 col-sm-5 col-sm-offset-1">
								<label><p>Category: </p></label> {{guestListItem.categoryName}}
							</div>
							<div class="col-xs-6 col-sm-5">
								<label><p>Est. cost: </p></label> {{guestListItem.cost}}
							</div>
							<div class="col-xs-12 col-sm-10 col-sm-offset-1">
								<label><p>Search for {{guestListItem.wish}}:</p> </label>{% include "searchBtns.html" %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<!-- done list -->
	{% if guestDonelist %}
		{% include guestDonelist %}
	{% endif %}
	<!-- black list -->
	{% if guestBlacklist %}
		{% include guestBlacklist %}
	{% endif %}
</div>
	
{% include "footer.html" %}
