<!doctype html>
<html>
<head>
	<title>Wishr</title>
	<link rel="stylesheet" href="templates/css/custom.css" type="text/css">
</head>
<body>

	{% if guestListItems %}
		{% for listName in listNames %}
				{{listName.listName}}	
		{% endfor %}
		{% for guestListItem in guestListItems %}
				{% include "guestListView.html" %}	
		{% endfor %}
	{% elseif user%}

	<form method='post' action=''>
		<input type='submit' name='killSession'value='Logga ut'>
	</form>

	{% if items %}
		{% include "newWishForm.html" %}
		{% for listName in listNames %}
			<h2 class="listName">{{listName.listName}}</h2>	
		{% endfor %}
		{% for item in items %}
			{% include "listItemForm.html" %}	
		{% endfor %}
		{% include "linkToSend.html" %}

	{% elseif newList%}
		{% for listName in listNames %}
			{{listName.listName}}	
		{% endfor %}
			{% include "newWishForm.html" %}
			
	{% else %}
		{% include "newListForm.html" %}	
	{% endif %}

	{% else %}
		{% include "loginForm.html" %}	
		{% include "createUserForm.html" %}	
	{% endif %}





</body>
</html>