<!doctype html>
<html>
<head>
	{% include "pageHeader.html" %}
</head>
<body>
	
	<div class="container-fluid">
		{% include "pageNav.html" %}

		{% if payment %}
			{% include "paymentForm.html" %}

		{% elseif admin %}
			{% include "dash.html" %}

		{% elseif guestListItems %}
			{% include "guestListView.html" %}

		{% elseif blacklist %}
			{% include "blacklistPage.html" %}	

		{% elseif user%}
			{% if blacklist %}
				{% include "blacklistPage.html" %}

			{% elseif items %}
					{% if (items | length < 20) or (1 in userPermission) or (2 in userPermission) %}
						{% include "newWishForm.html" %}

					{% else %}
						{% include "paymentInfo.html" %}

					{% endif %}
						<h2 class="listName">{{listNames[0].listName}}</h2>	

					{% for item in items %}
						{% if item.blacklist != 1 %}
							{% include "listItemForm.html" %}

						{%endif%}

					{% endfor %}

					{% include "linkToSend.html" %}

		{% elseif newList%}
			{% for listName in listNames %}
				{{listName.listName}}	
			{% endfor %}

				{% include "newWishForm.html" %}
				
		{% else %}
			{% include "newListForm.html" %}	
		{% endif %}

		{% else %}	
			{% include "landingPage.html" %}	
		{% endif %}	
	</div>

	<!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>