<!doctype html>
<html>
<head>
	<title>Wishr</title>
</head>
<body>

{% if user%}
	<form method='post'>
	<input type='submit' name='killSession'value='Logga ut'>
	</form>
	{% if items %}
		{% include "newWishForm.html" %}
		{% for item in items %}
			{% include "listItemForm.html" %}	
		{% endfor %}
	{% elseif newList%}
			{% include "newWishForm.html" %}
		{% else %}
			{% include "newListForm.html" %}	
		{% endif %}

{% else%}
	{% include "loginForm.html" %}	
	{% include "createUserForm.html" %}	
{% endif %}



</form>



</body>
</html>