<div class="row">

	<div class="col-xs-12 text-center"> 
	<h1>Welcome to Wishr</h1>
	<p class="lead">Make all your wishes come true!</p>
	</div>
</div>


<form class="form-horizontal" action='?/User/createUser' method='post'>
	<div class="form-group">
		<div class="col-xs-12 col-md-offset-2 col-md-4">
			<input class="form-control" type='text' required name='email' placeholder="E-mail">
		</div>
		<div class="col-xs-12 col-md-4">
			<input class="form-control" type='password'required name='password' placeholder="Password">
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-12 col-md-offset-2 col-md-4">
			<input class="form-control" type='text' required name='firstname' placeholder="Firstname">
		</div>
		<div class="col-xs-12 col-md-4">
			<input class="form-control" type='text' required name='lastname' placeholder="Lastname">
		</div>
	</div>
	{%if message == 1%}
	<div class="alert alert-danger col-md-offset-2 col-md-8" role="alert">User already exists!</div>
	{%elseif message == 2%}
	<div class="alert alert-success col-md-offset-2 col-md-8" role="alert">New user created! Please log in to start your list.</div>
	{%else%}

	{%endif%}
	<div class="form-group">
		<div class="col-xs-12 col-md-offset-2 col-md-8">
			<input class="btn btn-default btn-block" type='submit' value='Create'>
		</div>
	</div>

</form>

