

<div class="row marginTop10vh">
	<div class="col-xs-12 col-md-10 col-md-offset-1 text-center pageSection">

		<span class="title pageTitle">{{listInfo[0].listName}}</span>
		<h1>{{listInfo[0].firstName}}<span class="{{listInfo[0].listIcon}}" aria-hidden="true"></span>{{listInfo[0].secondName}}</h1>

		<div class="col-xs-12 col-md-10 col-md-offset-1 text-left">
			<p class="">Below is your list. You can easily make changes in every field and use the update botton to save the changes you've made. You can also delete items by using the delete button. If you want to change the name of your list or do other customizing, you can do that using our customize page.</p>

			<p>When you've finished you list you can use this link to send to your guests. <a href="http://192.168.33.10/Wishr/Code/?/User/guestView/{{_session.uniqueUrl}}" target="_blank">http://192.168.33.10/Wishr/Code/?/User/guestView/{{_session.uniqueUrl}}</a></p>

			<p>Guests will be allowed to see your list thru a guest-view. In this view they will be able CALL DIBS on items in your list. If you don't want to know which items in your list that HAS BEEN DIBBEDED we recommend you never visit your list through the guest-view yourself.</p>	
		</div>
	</div>
</div>