<div class="">
	<form class="form-horizontal" method='post' action="?/wish/updateItem/{{_session.uniqueUrl}}" role="form">	

		<!-- Clickable title -->
		<div class="input-group col-xs-12 col-sm-10 col-sm-offset-1 wishHeader" data-toggle="collapse" data-target="#wish{{item.itemId}}">
			<span class="input-group-addon clearForm wishNameInputIcon wishName">
				<label for=""><i class="fa fa-chevron-down"></i></label>
			</span>
			<input type="text" id="listItemNameInput" class="form-control clearForm wishName wishNameInput" required name="wishName" value="{{item.wish}}" aria-describedby="basic-addon1" autocomplete="off">
			<span class="input-group-addon clearForm wishNameInputIcon wishName">
				<label for="listItemNameInput"><i class="fa fa-pencil"></i></label>
			</span>
		</div><!-- /Clickable title -->

		<!-- Collapse content -->
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 wishCollapseBody">
			<div id="wish{{item.itemId}}" class="collapse">
				<div class="row">
					<div class="col-xs-12">
						<textarea class="form-control input listItemDescription" rows="6" id="wishDescription" name="wishDescription" placeholder="">{{item.description}}</textarea>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-3 bottomMargin">
						<select class="form-control clearForm input listItemInput" id="categoryUpdate" name="wishCategoryId">
							{% for category in categories%}
								{% if category.categoryName == item.categoryName %}
									<option value='{{category.id}}' selected>{{category.categoryName}}</option>
								{% else %}
									<option value='{{category.id}}'>{{category.categoryName}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="col-xs-6 col-sm-2 bottomMargin">
						<div class="input-group">
							<span class="input-group-addon formAddon" id="addon-prio"><i class="fa fa-list-ol"></i></span>
							<input class="form-control clearForm input listItemInput" type="number" name="prio" value="{{item.prio}}" aria-describedby="addon-prio">
						</div>
					</div>

					<div class="col-xs-6 col-sm-2 bottomMargin">
						<div class="input-group">
							<span class="input-group-addon formAddon" id="addon-cost"><i class="fa fa-money"></i></span>
							<input class="form-control clearForm input listItemInput" type="number" name="cost" value="{{item.cost}}" aria-describedby="addon-cost">
						</div>
					</div>

					<input type='hidden' name="wishId" value='{{item.itemId}}'>
					<div class="col-xs-6 col-sm-offset-1  col-sm-2">
						<button class="btn btn-default width100 button" type='submit' name="updateBtn" value='Update'>Update&nbsp;&nbsp;<i class="fa fa-refresh"></i></button>
					</div>
					<div class="col-xs-6 col-sm-2">
						<button class="btn btn-default width100 button" type='submit' name="deleteBtn" value='Delete'>Delete&nbsp;&nbsp;<i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>
		</div><!-- /Collapsed content -->
	</form>
</div>



