<div class="altBgColor listItem">
<form class="form-horizontal" method='post' action="?/wish/updateItem/{{_session.uniqueUrl}}" role="form">
	
	<div class="form-group">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<label for="input listItemName"><p>Wish:</p></label>
			</div>
				<div class="col-xs-12 col-md-8 col-md-offset-2">
			<input type='text' id="listItemName" class="form-control input " name="wishName" value="{{item.wish}}">
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<label for="listItemDescription"><p>Description:</p></label>
		</div>
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<input type='text' id="listItemDescription" class="form-control input " name="wishDescription" value="{{item.description}}">
		</div>
	</div>

	<div class="form-group">
			<label class="col-xs-12  col-md-1 col-md-offset-2 control-label" for="categoryUpdate"><p>Category:</p></label>
		<div class="col-xs-12 col-md-3">
			<select class="form-control" id="categoryUpdate" name="wishCategoryId">
				{% for category in categories%}
					{% if category.categoryName == item.categoryName %}
						<option value='{{category.id}}' selected>{{category.categoryName}}</option>
					{% else %}
						<option value='{{category.id}}'>{{category.categoryName}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		
		<label class="col-xs-12 col-md-1 control-label" for="prio"><p>Priority:</p></label>
		<div class="col-xs-12 col-md-3">
			<input class="form-control input " type="number" name="prio" value="{{item.prio}}">
		</div>
</div>
		<div class="form-group">

		<label class="col-xs-12 col-md-4  control-label" for="cost"><p>Est. cost:</p></label>
		<div class="col-xs-12 col-md-3">
			<input class="form-control input " type="number" name="cost" value="{{item.cost}}">
		</div>


		<input type='hidden' name="wishId" value='{{item.itemId}}'>

		<div class="col-xs-4 col-md-3">
			<input class="btn btn-default button" type='submit' name="updateBtn" value='Update'>
			<input class="btn btn-default button" type='submit' name="deleteBtn" value='Delete'>
		</div>

	</div>

</form>
</div>



