<div class="row">
	<form action='?/wishList/changeListName/{{uniqueUrl}}' method='post'>
		
			<div class="col-xs-8 col-xs-offset-2" >
				<div class="listNameContainer">
					<div class="listName">
						<div class="listNameEdit">
							<input type="text" class="" required placeholder="{{listNames[0].listName}}" value="{{listNames[0].listName}}"name="newListName" >
						</div>

						<div class="listNameText">
							<p class="">'s lista</p>
						</div>
					</div>
				</div>
			</div>
		
		<button type='submit' class="btnInvisible"></button>
	</form>
</div>