<div class="newWishForm">
	<form action='?/wishList/addItem/{{uniqueUrl}}' method='post'>

		<h4>Önskan</h4><br>
		<input type='text' name="wishName" placeholder="Your wish..."><br>
		<h4>Beskrivning</h4><br>
		<textarea rows="10" cols ="75" name="wishDescription" placeholder="Describe your wish here..."></textarea><br>
		<!--input type='text' name="wishDescription"><br-->
		Kategori<br>
		<select name="wishCategory">
			{% for category in categories%}
				<option value='{{category.id}}'>{{category.categoryName}}</option>
			{% endfor %}
		</select>
		<input type='submit' value='Lägg till'>

	</form>
</div>