<div class="row">
	<form action='?/wishList/addItem/{{uniqueUrl}}' method='post' role="form">
		<div class="form-group">
			
			<div class="col-xs-12">
				<label for="wishName"><h3>Your wish:</h3></label>
				<input type="text" id="wishName" class="form-control" placeholder="Make your wish here..." name="wishName" value="{{item.wish}}" aria-describedby="basic-addon1">
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12">
				<label for="wishDescription"><h3>Description:</h3></label>
				<textarea class="form-control" rows="6" id="wishDescription" name="wishDescription" placeholder="Describe your wish here..."></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12">
				<label for="categorySelect"><h3>Select category:</h3></label>
				<select class="form-control" id="categorySelect" name="wishCategory">
					{% for category in categories%}
						<option value='{{category.id}}'>{{category.categoryName}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12">
				<button type='submit' class="btn btn-default">Submit</button>
			</div>
		</div>

	</form>
		<!--
		<form action='?/wishList/addItem/{{uniqueUrl}}' method='post'>

			<h4>Önskan</h4><br>
			<input type='text' name="wishName" placeholder="Your wish..."><br>
			<h4>Beskrivning</h4><br>
			<textarea rows="10" cols ="75" name="wishDescription" placeholder="Describe your wish here..."></textarea><br>
			
			Kategori<br>
			<select name="wishCategory">
				{% for category in categories%}
					<option value='{{category.id}}'>{{category.categoryName}}</option>
				{% endfor %}
			</select>
			<input type='submit' value='Lägg till'>

		</form>
		-->
</div>