	<title>Wishr</title>
	<meta charset="UTF-8">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Custom fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Merriweather - regular 400, italic, bold 700 and bold 700 italic -->
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<!-- Merriweather Sans - light 300, italic 300, regular 400, italic, bold 700 and bold 700 italic -->
	<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="templates/css/custom.css" type="text/css">

