<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		{% if _session.user %}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="?/wishList/myList"><i class="logo navbar-logo">WISHR</i></a>
			</div>
		{% else %}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="?/"><i class="logo navbar-logo">WISHR</i></a>
			</div>
		{% endif %}

			<div class="collapse navbar-collapse" id="navbar-collapse">
			{% if _session.user %}
				<!-- Logut Button -->
				<form class="navbar-form  navbar-right" method="post" action="index.php">
					<button type='submit' class="btn  button" name='killSession' value='Logga ut'>Log out</button>
				</form>

				<!-- Blacklist Button -->
				<form class="navbar-form  navbar-right paddingRight0" method="post" action="?/wishList/getBlacklist/">
					<button type="submit" class="btn  button" name='blacklist' value='Blacklisted items!'>Unwanted items!</button>
				</form>

				<!-- Upgrade Button -->
				<form class="navbar-form  navbar-right paddingRight0"  method="post" action="?/User/payUp/">
					<button type="submit" class="btn  button" name='goPro' value='Go Pro!'>Customize&nbsp;<i class="fa fa-magic"></i></button>
				</form>

			{% else %}
<!-- Login navbar -->
		

            	<form class="navbar-form navbar-right" action='?/User/login' method='post'>
					<div class="form-group">
						<input class="form-control input" type='email' name='email' placeholder="E-mail" autofocus>
						<input class="form-control input" type='password' name='password' placeholder="Password">
					</div>
					<button class="btn button" type='submit' name='submitLogin' value='Log in'>Login</button>
				</form>

							
			    
			<!-- End Login navbar -->

			<!-- Upgrade Button navbar -->

			<form class="navbar-form  navbar-right"  method="post" action="?/User/ourProduct/">
				<button type="submit" class="btn button" name='goPro' value='Go Pro!'>Our product&nbsp;<i class="fa fa-info-circle"></i></button>
			</form>
			{% endif %}
		</div>
	</div>
</nav>