<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="#">Wishr</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			{% if user %}
				<form action="?/User/getBlacklist/{{uniqueUrl}}" class="navbar-form navbar-right" method='post' action=''>
					<input type= 'submit' class="btn btn-default" name='blacklist' value='Blacklisted items!'>
				</form>

				<form class="navbar-form navbar-right" method='post' action='index.php'>
					<input type='submit' class="btn btn-default" name='killSession' value='Logga ut'>
				</form>
			{% else %}
				<div class="dropdown navbar-right navbar-form">
					<button class="btn btn-default dropdown-toogle" type="button" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Login<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-menu row" aria-labelledby="loginDropdown">
						<div class="col-xs-12">
						{% include "loginForm.html" %}
						</div>
					</div>
				</div>
			{% endif %}
			<form class="navbar-form navbar-right" action="?/User/payUp/" method="post">
				<input type='submit' class="btn btn-default" name='goPro' value='Go Pro!'>
			</form>
		</div>
	</div>
</nav>