<div class="container">
	<div class="row pageSection paymentForm marginTop18vh">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">

			<div class="row">
				<div class="col-xs-12 text-center">
					<span class="title pageTitle">Customize your Wishr!</span>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 text-center">
					<p class="pageLead">It's easy to make Wishr your very own. Just click any of these upgrades or why don't get it all!</p>
				</div>
			</div>

			<div class="row">
				<div  class="col-xs-12">
					<div class="row upgradeBox upgradeAllBox">
						<div class="col-xs-6">
							<h2>Go Pro! <i class="fa fa-trophy"></i></h2>
							<h2><i class="fa fa-eur"></i>39 / <i class="fa fa-usd"></i>39</h2>
							<form action="?/User/payPermission/{{_session.user.id}}" method="post">
								<button class="btn btn-default button" name="permissionType" value="1">Get it all!</button>
							</form>
						</div>
				
						<div class="col-xs-6">
							<p>Get unlimited access to all functions.</p>
							<ul>
								<li><i class="fa fa-check-circle"></i> Unlimited wishes.</li>
								<li><i class="fa fa-check-circle"></i> Blacklist for unwanted gifts.</li>
								<li><i class="fa fa-check-circle"></i> The ability for guest to call dibs on a gift.</li>
								<li><i class="fa fa-check-circle"></i> Personalized background.</li>
								<li><i class="fa fa-check-circle"></i> And more..!</li>
							</ul>
						</div><!--col-->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="upgradeBox">
						<h4>Change names</h4>
						<span>Here you can change your names</span>
						<form action='?/wishList/changeListName/{{_session.uniqueUrl}}' method='post'>
							<div class="col-xs-8 col-xs-offset-2" >
								<div class="listNameEdit">
									<input type="text" class="" required placeholder="{{listNames[0].firstName}}" value="{{listNames[0].firstName}}"name="newListNameFirst" >
									<span class="glyphicon glyphicon-heart" style="font-size:50px; text-aling: center;"aria-hidden="true"></span>
									<input type="text" class="" required placeholder="{{listNames[0].secondName}}" value="{{listNames[0].secondName}}"name="newListNameSecond" >
									<button type='submit' class="button">Change name</button>
								</div>
							</div>
						</form>
					</div>
				</div><!--col-->

				{% include unlimitedForm %}
			</div>

			<div class="row">

				{% include blacklistForm %}

				{% include doneForm %}

			</div>
			
			<div class="row">
				{%include listImage%}

				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 upgradeBox">
					<div  class="priceField priceField1">
						<h4>More funcs on da way</h4>
						<span>YeyeyeyYYYEYYY</span>
						
					</div>
				</div><!--col-->
			</div>
		</div>
	</div>

		<!--div class="paymentForm">
			<h1>Betala</h1>

			<form action="?/User/pay/{{userId}}" method="post">
				<input type="submit" value="Betala!">
			</form>

			<form action="?/User/payPermission/{{userId}}" method="post">
				<input type="hidden" name="permissionType" value="1">
				<input type="submit" value="Get all permissions">
			</form>


				<form action="?/User/payPermission/{{userId}}" method="post">
				<input type="hidden" name="permissionType" value="2">
				<input type="submit" value="Permission 2!">
			</form>
					<form action="?/User/payPermission/{{userId}}" method="post">
				<input type="hidden" name="permissionType" value="3">
				<input type="submit" value="Permission 3!">
			</form>
					<form action="?/User/payPermission/{{userId}}" method="post">
				<input type="hidden" name="permissionType" value="4">
				<input type="submit" value="Permission 4!">
			</form>

			<form action="?/wishlist/getlist/{{uniqueUrl}}" method="post">
				<input type="submit" value="Tillbaka">
			</form>
		</div-->

</div>