<div class="col-xs-12 col-sm-6">
	<form action="?/User/payPermission/{{_session.user.id}}" method="post">
		<button class="upgradeBox payButton" name="permissionType" value="2">
			<div class="row">
				<div class="col-xs-6">
					<h2 class="upgradeBoxIcon"><i class="fa fa-frown-o"></i></h2>
				</div>

				<div class="col-xs-6 text-center">
					<div  class="upgradeBoxPrice">
						<h2><i class="fa fa-euro"></i>9</h2>
					</div>
				</div>

				<div class="col-xs-12">
					<h3>Unwanted items</h3>
					<h4>Unwanted items enalbes you to create a list of items you really dont want.</h4>
					<h4>Click me to unlock me!</h4>
				</div>
			</div>
		</button>
	</form>
</div><!--col-->