<div class="col-xs-12 col-sm-6">
	<form action="?/User/payPermission/{{_session.user.id}}" method="post">
			<button class="upgradeBox payButton" name="permissionType" value="3">
				<div class="row">
					<div class="col-xs-6">
						<h2 class="upgradeBoxIcon"><i class="fa fa-key"></i></h2>
					</div>

					<div class="col-xs-6 text-center">
						<div  class="upgradeBoxPrice">
							<h2><i class="fa fa-euro"></i>9</h2>
						</div>
					</div>

					<div class="col-xs-12">
						<h3>Wishr Unlimited!</h3>
						<h4>This function enables you to add as many items as you want.</h4>
						<h4>Click me to unlock me!</h4>
					</div>
			</div>
		</button>
	</form>
</div><!--col-->